
# https://pytorch.org/
torch
## https://pytorch.org/vision/0.8/index.html
torchvision
## https://pytorch.org/ignite/
ignite

# https://docs.python.org/3/library/typing.html
typing

pandas
matplotlib
tqdm

# Dependencies for Jupyter
# ipykernel
# ipywidgets